*{
}

.navegador {
  background-color: #e5e3c9;
  display: flex;
  width: 100%;
  height: 14%;
  align-items: center;
}

.logo {
  object-fit: cover;
  width: 10vw;
  height: 7vh;
  padding: 1em;
  margin-left: 2vw;
  margin-right: 65vw;
}
.icono-redsocial{
 height: 6vh;
 padding: 2vh;
 margin-right: 1vw;
}

/*--------------------------------------------------------------------------------------------------------------*/

.lateral{
  background-color: #b4cfb0;
}
.aside__box{
  display: flex;
  justify-content: space-evenly;
}
.aside__elem{
  margin:1vh;
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
}
a:link, a:visited, a:active {
  text-decoration: none;
  color:black;
}
/*--------------------------------------------------------------------------------------------------------------*/
body {
  background-image: url("https://cutewallpaper.org/21/background-for-youtube/French-Guy-Cooking-YouTube-Channel-Background-Art-copy-Alex.jpg");
  background-repeat: repeat;
  background-size: 100%;
  position: relative;
  padding-bottom:3em;
  min-height: 100vh;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*--------------------------------------------------------------------------------------------------------------*/
.cont{
display:flex;
flex-wrap: wrap;
justify-content: center;
}

.cont__section{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cont__section2{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50vw;
}

.cont__form{
  display: flex;
  flex-direction: column;
  background-color: #94B49F;
  padding: 3em;
  justify-content: center;
  margin: 14vh;
  border:#789395 ridge 0.4em;
}


.cont__form2{
  width:40vw;
  display: flex;
  flex-direction: column;
  background-color: #94B49F;
  padding: 2em;
  justify-content: center;
  margin-top:0;
}

.cont__table{
  width:40vw;
  height: 6vh;
  padding: 2em;
  margin-top: 5vh;
  margin-right: 2vw;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  background-color: #94B49F;
  justify-content: center;
}

.cont__parrafo{
  align-items: center;
  display: flex;
  background-color: #94B49F;
  padding: 2em;
  justify-content: center;
}

.parrafo{
  display: flex;
  border-color:#789395;
  border-width: 2px;
  border-style: solid;
  background-color:#e5e3c9;
  height: 50vh;
}

.parrafo__index{
  display: flex;
  border-color:#789395;
  border-width: 2px;
  border-style: solid;
  background-color:#e5e3c9;
}

.cont__label-tittle{
font-size: 2em;
margin:auto;
}

.form-label{
display:block;
margin-left: 15vw;
}

.form-input{
display:block;
margin-left: 15vw;
}

.form-select{
  display: block;
}

.form-select_optional{
display:inline-block;
width:10vw;
}

.button__add, .button__delete{
  background-color: #789395;
}

.button__x{
  background-color: red;
}



.input__cantidad, .input__ingrediente, .form__select, .input__tittle, .textarea__procedimiento{
  background-color: #e5e3c9;
}

.cont__label{
  font-size: 1.4em;
}

.cont__label-red{
  font-size:1.4em;
  margin:0;
  color: rgba(224, 30, 30, 0.897);
}

.cont__input{
  background-color: #e5e3c9;
  font-size:1.4em;
}

.cont__select{
  background-color: #e5e3c9;
  font-size:1.4em;
}

.cont__select2{
  background-color: #e5e3c9;
  width: 12vw;
  font-size:1.4em;
}
.input__save{
  background-color: #789395;
  margin-top: 1em;
  font-size:1.4em;
}

/*--------------------------------------------------------------------------------------------------------------*/
.pie{
  height: 7vh;
  width: 100%;
  background-color: #789395;
  display: flex;
  justify-content:center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.pie__p{
font-family: 'Lato', sans-serif;
margin-top: 1.7vh;
font-size: 1.3em;
color: black;
}

.table{
  background-color:#e5e3c9;
}

.table2{
  display:inline-block;
  width: 80%;
  background-color:#b4cfb0;
  border-style: ridge;
  border-color:#789395;
  border-width: 0.25em;
  padding: 1em;
}
.table__dif{
  margin: 2em;
  background-color:#b4cfb0;
  border-style: ridge;
  border-color:#789395;
  border-width: 0.25em;
  padding: 1em;
}

/*-----------------------------------------------------------*/

.cont__button{
  display:flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
}

.button__add2{
  background-color:#e5e3c9;
  margin-bottom:2em;
  width:12vw;
  text-align: center;
  padding:1em;
  font-size: 1.5em;

  border-style: ridge;
  border-color: #789395;
  border-width:0.2em;
}



.th__table-dif{
  border-style:ridge;
  border-color:#789395;
  background-color:#789395;
  }

.td{
border-style:solid;
border-color:gray;
border-left: none;
border-right:none;
border-top:none;
}

.td__table-dif{
  border-color:#789395;
  border-width: 2px;
  border-style: solid;
  background-color:#e5e3c9;
  text-align: center;
  }

/*--------------------------------------------------------------------------------------------------------------------------------------*/
.button__add3{
  background-color:#e5e3c9;
  width:12vw;
  text-align: center;
  font-size: 1.5em;
  margin-left:auto;
  margin-right: auto;
  padding: 1em;
  border: ridge #789395 0.5em;
}
/*--------------------------------------------------------------------------------------------------------------------------------------*/
h1{
  background-color: #e5e3c9;
  display: flex;
  width: 15vw;
  margin: auto;
  font-family: 'Pacifico', cursive;
  justify-content: center;
  padding:1em;
  border: #789395 ridge 0.2em;
}

.cont__parrafo p{
  background-color: #e5e3c9;
  padding:1em;
  font-size: 1.4em;
}

.flex-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.mitad{
  display: flex;
  flex-direction: column;
  width: 49vw;
  height: 50vh;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
.photo__frame{
  display: flex;
  width: 15vw;
  min-width: 15vw;
  height: 15vw;
  min-height: 15vw;
  margin: auto;
}

.photo{
  height: 100%;
  width: 100%;
  border: ridge #789395 0.4em;
  background-color:#b4cfb0;
  display: flex;
  object-fit: cover;
  justify-content: center;
}
