<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

    <head>
        <title>Buscar Recetas</title>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/agregar-eliminar.css}">
        <link rel="stylesheet" th:href="@{/css/normalize.css}">
        <link rel="stylesheet" th:href="@{/css/estilo-egg.css}">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
         ></script>
        <script src="/js/index.js"></script>
    </head>

    <body>

        <nav th:replace="/plantilla/plantilla::nav"></nav>

        <aside th:replace="/plantilla/plantilla::aside"></aside>

        <div class="cont">
            <form class="cont__form" th:action="@{/receta/receta-por-nombre}" method="GET">
                
                <label class="cont__label">Ingrese el nombre de la receta</label>
                <input class="cont__input" type="text" name="nombreReceta" placeholder="nombre de la receta">

                <input class="input__save" type="submit" value="Buscar">

                <p class="cont__label-red" th:if="${error} !=null" th:text="${error}"></p>

            </form>
        </div>

        <div class="container text-capitalize">

        <footer th:replace="plantilla/plantilla.html :: footer"></footer>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>