<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace="/plantilla/plantilla::head"></head>
<body>
<nav th:replace="/plantilla/plantilla::nav"></nav>

<div class="container">
    <div th:if="${error}!= null" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <span th:text="${error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="card mt-5">
        <div class="card-header d-flex">
            <h1>Crear Persona</h1>
        </div>
        <div class="card-body">

            <form th:action="@{/persona/guardar-persona}" method="POST" class="col-6 mx-auto">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" th:value="${nombre}">
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" name="apellido" th:value="${apellido}">
                </div>
                <div class="mb-3">
                    <label for="nombreUsuario" class="form-label">Nombre de Usuario</label>
                    <input type="text" class="form-control" name="nombreUsuario" th:value="${nombreUsuario}">
                </div>

                <div class="mb-3">
                    <label for="Contraseña" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="contrasena">
                </div>
                <div class="mb-3">
                    <label for="Repetir la contraseña" class="form-label">Repetir la contraseña</label>
                    <input type="password" class="form-control" name="contrasena2">
                </div>

                <button type="submit" name="action" value="Guardar" confirm="guardar"
                        class="btn-dark px-5 py-2 ms-auto">Guardar
                </button>
            </form>
        </div>
    </div>
</div>
</body>

</html>
