<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="/plantilla/plantilla::head"></head>
    <body>
        <nav th:replace="/plantilla/plantilla::nav"></nav>
        
        <aside th:replace="/plantilla/plantilla-user::aside"> </aside>
        
        <div class="cont">
            <form th:action="@{/receta/guardar-receta}" method="POST" th:object="${recetas}" class="cont__form">
                <p th:if="${error} != null" th:text="${error}"></p>
                <input th:field="*{id}" type="hidden"/>

                <label class="cont__label-tittle">Nombre Receta</label>
                <input type="text" th:field="*{nombre}" class="input__tittle"/><br>
                <div class="cont__form-div">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Ingrediente</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Agregar</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr th:id="'ingrediente' + ${index.index}"
                                th:classappend="${index.index != 0} ? 'no-mostrar'"
                                th:each="receta, index : *{ingredientes}">

                                <td>
                                    <select th:field="*{ingredientes[__${index.index}__].nombreIngrediente}"
                                            th:id="'nombreIngrediente'+${index.index}"
                                            class="form__select">
                                        <option value=""> </option>                                                                         
                                        <option th:each=" l :${lista}" th:text="${l.nombreIngrediente}"
                                                th:value="${l.nombreIngrediente}"></option>
                                    </select>
                                </td>

                                <td>
                                    <input type="text"
                                           class="input__cantidad"
                                           th:field="*{cantidad[__${index.index}__]}"
                                           th:id="'cantidad'+${index.index}">    
                                </td>
                                <td>
                                    <button type="button"
                                            class="button__add"
                                            th:attr="onclick=|agregar('ingrediente',${index.index})|">Agregar
                                    </button>
                                </td>

                                <td>
                                    <button type="button"
                                            class="button__delete"
                                            th:attr="onclick=|eliminar('ingrediente',${index.index})|">Eliminar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <label class="cont__label">Procedimiento</label>
                <textarea class="textarea__procedimiento" rows = "5" cols = "50" th:field="*{procedimiento}">procedimiento</textarea>
                <label class="cont__label">Duración</label>
                <input type="text" th:field="*{duracion}" class="cont__input"/>

                <label class="cont__label">Complejidad</label>
                <select name="complejidad" th:field="*{complejidad}" class="cont__select">
                    <option th:each="complejidad : ${T(com.quecomemos.enumeraciones.Complejidad).values()}" 
                            th:value="${complejidad}" th:text="${complejidad.displayName}"></option>
                </select>

                <label class="cont__label">Categoría</label>
                <select name="categoria" th:field="*{categoria}" class="cont__select">
                    <option th:each="categoria : ${T(com.quecomemos.enumeraciones.Categoria).values()}" 
                            th:value="${categoria}" th:text="${categoria.displayName}"></option>
                </select>

                <label class="cont__label">Valor Calórico</label>
                <select name="valorCalorico" th:field="*{valorCalorico}" class="cont__select">
                    <option th:each="valorCalorico : ${T(com.quecomemos.enumeraciones.ValorCalorico).values()}" 
                            th:value="${valorCalorico}" th:text="${valorCalorico.nombre}"></option>
                </select>

                <input type="submit" name="action" value="Guardar" confirm="guardar" class="input__save"/>
                <p th:if="${error} != null" th:text="${error}"></p>

            </form>
        </div>

        <footer th:replace="plantilla/plantilla.html :: footer"></footer>

    </body>
</html>
