<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="/plantilla/plantilla::head"></head>
    <body>
        <nav th:replace="/plantilla/plantilla::nav"></nav>

        <aside th:replace="/plantilla/plantilla::aside"></aside>
        <div>

            <h1>HOLA SOY EL INDEX</h1>


        </div>

        <footer th:replace="/plantilla/plantilla::footer"></footer>
    </body>
</html>
