<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

    <head>
        <title>Añadir ingrediente</title>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/agregar-eliminar.css}">
        <link rel="stylesheet" th:href="@{/css/normalize.css}">
        <link rel="stylesheet" th:href="@{/css/estilo-egg.css}">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        
    </head>

<body>
    
    <nav th:replace="/plantilla/plantilla::nav"></nav>

    <aside th:replace="/plantilla/plantilla::aside"> </aside>

    <div class="cont">
        <form class="cont__form" th:action="@{/ingrediente/guardar}" method="POST" th:object="${ingrediente}">
            <input th:field="*{idIngrediente}" type="hidden">
            <label class="cont__label" >Nombre del Ingrediente</label>
            <input type="text" th:field="*{nombreIngrediente}" class="input__cantidad">
             
            <input class="button__add" type="submit" value="guardar">
            
            <p th:if="${error} !=null" th:text="${error}"></p>

        </form>
    </div>

    <!--<div class="cont__form">
          <a th:href="@{/ingrediente/crear}">Nuevo Ingrediente</a>
    </div>-->

    <footer th:replace="plantilla/plantilla.html :: footer"></footer>
    
</body>
</html>