<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org/">
    
    <head>
        <title>Regístrate</title>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/agregar-eliminar.css}">
        <link rel="stylesheet" th:href="@{/css/normalize.css}">
        <link rel="stylesheet" th:href="@{/css/estilo-egg.css}">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
         ></script>
        <script src="/js/index.js"></script>
    </head>
    
    <body>

        <nav th:replace="/plantilla/plantilla::nav"></nav>

        <aside th:replace="/plantilla/plantilla::aside"> </aside>


        <div class="flex-container">
            <div class="mitad">
                <table class="table__dif">
                    <thead>
                        <tr>
                            <th class="th__table-dif" scope="col" >Nombre de la Receta</th>                                   
                            <th class="th__table-dif" scope="col" >Duracion</th>
                           <!-- <th class="th__table-dif" scope="col" >Procedimiento</th> -->
                            <th class="th__table-dif" scope="col" >Complejidad</th>                    
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="receta :${receta}">
                            <td class="td__table-dif" th:text="${receta.nombre}"></td>
                            <td class="td__table-dif" th:text="${receta.duracion}"></td>
                           <!-- <td class="td__table-dif" th:text="${receta.procedimiento}"></td> -->
                            <td class="td__table-dif" th:text="${receta.complejidad}"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table__dif">
                    <thead>
                        <tr>
                            <th class="th__table-dif" scope="col" >Ingredientes</th> 
                            <th class="th__table-dif" scope="col" >Cantidades</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ingrediente, index :${receta.ingredientes}">
                            <td class="td__table-dif" th:text="${ingrediente.nombreIngrediente}"></td>                       
                            <td class="td__table-dif" th:text="${receta.cantidad[__${index.index}__]}"></td>                       
                        </tr>
                    </tbody>
                </table>
                
                <div class="photo__frame">
                    <img th:if="${receta.foto ==null}" class="photo" src="/css/foto.jpeg" alt=""> --> 
                    <img th:if="${receta.foto !=null}" class="photo" th:src="@{/foto/receta} + '?id='+ ${receta.id}" alt="">  
                </div>
            </div>

            <div class="mitad">
                <table class="table__dif">
                    <thead>
                        <tr>
                            <th class="th__table-dif" scope="col" >Procedimiento</th>                   
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="receta :${receta}">
                            <td class="td__table-dif" th:text="${receta.procedimiento}"></td>                        
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

        <footer th:replace="plantilla/plantilla.html :: footer"></footer>
        
    </body>
</html>
