<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="/plantilla/plantilla::head"></head>
    <body>
        <nav th:replace="/plantilla/plantilla::nav"></nav>
        <div class="container text-capitalize">
            <table class="table table-striped table-hover table-sm table-bordered">
                <thead>
                    <tr>
                        <th scope="col" >Nombre de la Receta</th>                                   
                        <th scope="col" >Duracion</th>
                        <th scope="col" >Procedimiento</th>
                        <th scope="col" >Complejidad</th>                    
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="receta :${receta}">
                        <td th:text="${receta.nombre}"></td>
                        <td th:text="${receta.duracion}"></td>
                        <td th:text="${receta.procedimiento}"></td>
                        <td th:text="${receta.complejidad}"></td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container text-capitalize">
            <table class="table table-striped table-hover table-sm table-bordered">
                <thead>
                    <tr>
                        <th scope="col" >Ingredientes</th> 
                        <th scope="col" >Cantidades</th> 

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ingrediente, index :${receta.ingredientes}">
                        <td th:text="${ingrediente.nombreIngrediente}"></td>                       
                        <td th:text="${receta.cantidad[__${index.index}__]}"></td>                       
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="container text-capitalize">
            <table class="table table-striped table-hover table-sm table-bordered">
                <thead>
                    <tr>
                        <th scope="col" >Procedimiento</th>                   
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="receta :${receta}">
                        <td th:text="${receta.procedimiento}"></td>                        
                    </tr>
                </tbody>
            </table>
        </div>
        
        
        
    </body>
</html>
