<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="/plantilla/plantilla::head"></head>
    <body>

        <nav th:replace="/plantilla/plantilla::nav"></nav>

        <aside th:replace="/plantilla/plantilla::aside"> </aside>


        <div class="flex-container">
            <div class="mitad">
                <table class="table__dif">
                    <thead>
                        <tr>
                            <th class="th__table-dif" scope="col" >Nombre de la Receta</th>                                   
                            <th class="th__table-dif" scope="col" >Duracion</th>
                           <!-- <th class="th__table-dif" scope="col" >Procedimiento</th> -->
                            <th class="th__table-dif" scope="col" >Complejidad</th>                    
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="receta :${receta}">
                            <td class="td__table-dif" th:text="${receta.nombre}"></td>
                            <td class="td__table-dif" th:text="${receta.duracion}"></td>
                           <!-- <td class="td__table-dif" th:text="${receta.procedimiento}"></td> -->
                            <td class="td__table-dif" th:text="${receta.complejidad}"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table__dif">
                    <thead>
                        <tr>
                            <th class="th__table-dif" scope="col" >Ingredientes</th> 
                            <th class="th__table-dif" scope="col" >Cantidades</th> 
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ingrediente, index :${receta.ingredientes}">
                            <td class="td__table-dif" th:text="${ingrediente.nombreIngrediente}"></td>                       
                            <td class="td__table-dif" th:text="${receta.cantidad[__${index.index}__]}"></td>                       
                        </tr>
                    </tbody>
                </table>
                
                <div class="photo__frame">
                 <!---->   <img th:if="${receta.foto ==null}" class="photo" src="/css/foto.jpeg" alt=""> --> 
                    <img th:if="${receta.foto !=null}" class="photo" th:src="@{/foto/receta} + '?id='+ ${receta.id}" alt="">  
                </div>
            </div>

            <div class="mitad">
                <table class="table__dif">
                    <thead>
                        <tr>
                            <th class="th__table-dif" scope="col" >Procedimiento</th>                   
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="receta :${receta}">
                            <td class="td__table-dif" th:text="${receta.procedimiento}"></td>                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        
        <footer th:replace="plantilla/plantilla.html :: footer"></footer>
        
    </body>
</html>
